@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/gilroy-extrabold.woff2') format('woff2'),
    url('../fonts/gilroy-extrabold.woff') format('woff');
    font-weight: 300;			
}
@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/gilroy-extrabold.woff2') format('woff2'),
    url('../fonts/gilroy-extrabold.woff') format('woff');
    font-weight: 700;			
}
body {
  margin: 0;
  padding: 0;
  width: 1440px;
  font-family: "Gilroy", Arial, sans-serif;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-header {
  width: 1040px;
  height: 209px;
  color: #000000;
  background-color: rgba(240, 197, 46, 0.5);
  margin: auto;
  margin-top: 40px;
  padding: 45px 60px;
}
.main-header-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.header-logo {
   position: absolute;
   width: 163px;
   height: 35px;
   top: 18px;
   left: 200px;
   padding: 0; 
}
.header-logo:hover {
   opacity: 0.6;
}
.header-logo:active {
   opacity: 0.3;
}
.search {
   display: block;
   background-color: transparent;
   border: none; 
   outline: none;
   font-family: "OpenSans", Arial, sans-serif;	
   font-size: 15px;
   font-weight: 300;
   font-style: normal;
   line-height: 2;
   letter-spacing: 0.2px;
   opacity: 0.3;
   padding-right: 154px;
}
 .search:hover {
   color: rgba(0, 0, 0, 0.6); 
}
.search:focus {
   color: #000000;
   border-bottom: 2px solid #000000; 
}
.search-submit {
   display: block;
   width: 85px;
   height: 49px;	
   background-color: transparent;
   border: 2px solid #000000;  
   outline: none;
   font-family: "OpenSans", Arial, sans-serif;	
   font-size: 15px;
   font-weight: 300;
   font-style: normal;
   line-height: 2;
   letter-spacing: 0.2px;
   display: none;
   margin: 0px;
}
.search:focus + .search-submit {
  display: block;
}
.search-submit:hover {
	background-color: #000000;
	color: #ffffff ;
}
.search-submit:active {
	background-color: #000000;
	color: #ffffff ;
	opacity: 0.3;
}
.container-search form {
  display: flex;
	width: 440px;
  height: 49px;
  margin-top: -10px;
}
.container-search form:focus {
  border-bottom: 2px solid #000000; 
}
.container-search a{
	color: #000000;
}
.container-search{
	display: block; 
	width: 540px;	
}
.catalog {
	padding: 0;
	margin: 0;
	padding-right: 10px;
	margin-top: 20px;
}
.catalog:hover {
	opacity: 0.6;
}
.catalog:active {
	opacity: 0.3;
}
.catalog-menu {
   margin: 0;
   padding: 0;
   width: 800px;
   padding-top: 20px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-start;
   list-style: none;
}
.catalog-menu a {  
   font-family: "OpenSans", Arial, sans-serif;	
   font-size: 15px;
   font-weight: 300;
   font-style: normal;
   font-stretch: normal;
   line-height: 2;
   letter-spacing: 0.2px;
   color: #000000;
   list-style: none;
   text-transform: none;
}
.catalog-menu li {
	width: 195px;
	margin-right: 50px; 
	margin-bottom: 10px;
}
.catalog-menu .last-child{
   width: 305px;
   margin-right: 15px;
}
.catalog .catalog-menu {
	display: none;
}
.catalog:hover .catalog-menu {
	display: block;
}
.catalog-menu li:hover {
	opacity: 0.6;
}
.catalog-menu li:active {
	opacity: 0.3;
}
.container-navigation{
	width: 500px;
}
.container-search li{
   font-size: 18px;
   font-weight: 800;
   font-style: normal;
   font-stretch: normal;
   line-height: 1.33;
   letter-spacing: 3.6px;
   text-transform: uppercase;
   color: #000000;
   list-style: none;
}	
.header-svg,
.footer-svg {
	padding-right: 10px; 
}
.container-search .header-svg {
  margin-top: 15px;
}
.catalog .header-svg {
	opacity: 0.3;
	padding-left: 10px; 
}
.main-navigation {
  width: 500px;
}
.user-navigation,
.site-navigation {
	padding: 0;
	margin: 0;
}
.site-navigation,	
.user-navigation,
.container-search {
   display: flex;
   flex-wrap: wrap;
}
.site-navigation a,
.user-navigation a {
   display: block; 
   color: #000000;
}
.user-navigation a{
   padding: 0;
   margin: 0; 
}
.user-navigation .exit {
   padding-left: 0px;
   padding-right: 220px;
}
.user-navigation .compare {
   padding-left: 0px;
   padding-right: 40px;
}
.user-navigation .basket {
   padding-left: 0px;
}
.site-navigation  {
   margin-top: 45px;  
}
.site-navigation .delivery {
  padding-left: 0px;
  padding-right: 35px;
}
.site-navigation .guarantee {
  padding-left: 0px;
  padding-right: 100px;
}
.site-navigation .contact {
  padding-left: 0px;
  padding-right: 0px;
}
.site-navigation a:hover,
.user-navigation a:hover {
   color: rgba(0, 0, 0, 0.6);
}
.site-navigation a:active,
.user-navigation a:active {
   color: rgba(0, 0, 0, 0.34);
}
.user-navigation {
   font-family: "OpenSans", Arial, sans-serif;	
   font-size: 15px;
   font-weight: 300;
   font-style: normal;
   font-stretch: normal;
   line-height: 2;
   letter-spacing: 0.2px;
   color: #000000;
   list-style: none;
}
.site-navigation {
   font-size: 18px;
   font-weight: 800;
   font-style: normal;
   font-stretch: normal;
   line-height: 1.33;
   letter-spacing: 3.6px;
   text-transform: uppercase;
   color: #000000;
   list-style: none;
}
.slides {
   position: absolute;
   width: 1040px;
   margin-top: -650px;	
   padding: 80px;
   margin-left: 120px;
   margin-bottom: 80px;
}
.slide-1,
.slide-2,
.slide-3 {
   display: flex;
   justify-content: space-between;
}
.slide-2,
.slide-3 {
   display: none;
}
.img-slide {
   display: block;
   width: 450px;
   margin-top: -45px;
   padding-left: 30px;
}
.description {
   display: block;
   width: 500px;
}
.description h2::before {
  content: ""; 
  position: absolute;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
  z-index: 2;
  right: 480px;
  top: 80px;
}
.description h2::after {
  content: "01"; 
  position: absolute;
  width: 166px;
  height: 131px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 179px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 1.8px;
  text-align: right;
  color: #ffffff;
  z-index: 2;
  right: 90px;
  top: 20px;
}
.description h2 {
  width: 400px;
}
.description p {
  width: 480px;
  margin: 0;
  margin-top: -20px;
} 
.description h2,
.delivery-info h2,
.guarantee-info h2,
.credit-info h2 {
   font-size: 47px;
   font-weight: 800;
   font-style: normal;
   font-stretch: normal;
   line-height: 1.19;
   letter-spacing: 0.5px;
   text-align: left;
   color: #000000;
}
.description p,
.delivery-info p,
.guarantee-info p,
.credit-info p {
   font-family: "OpenSans", Arial, sans-serif;
   font-size: 15px;
   font-weight: 300;
   font-style: normal;
   font-stretch: normal;
   line-height: 2;
   letter-spacing: 0.2px;
   text-align: left;
   color: #464646;
}
.description-button {
	display: block;
	margin-top: 50px;
  margin-bottom: 50px;
}
.radio-buttons {
  position: absolute;
	display: block;
	margin-top: 10px;
  margin-left: 400px;
}
.radio-buttons a{
  margin-right: 15px;
}
.description-item {
	width: 480px;
	margin-top: 140px;
}
.value-1,
.value-2,
.value-3 {
   font-family: "Gilroy", Arial, sans-serif;
   font-size: 36px;
   font-weight: 300;
   font-style: normal;
   font-stretch: normal;
   line-height: 1.33;
   letter-spacing: 0.4px;
   text-align: left;
   color: #000000;
}
.feature-1,
.feature-2,
.feature-3 {
   font-family: "OpenSans", Arial, sans-serif;
   font-size: 13px;
   font-weight: 300;
   font-style: normal;
   font-stretch: normal;
   line-height: 1.54;
   letter-spacing: 0.1px;
   text-align: left;
   color: #464646;
}
.catalog-items {
    width: 1160px;
    margin: 0 auto;
    margin-top: 500px;
}
.catalog-items ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    list-style: none;
    text-align: left;
    margin: 0;
    padding: 0; 
    margin-top: 110px; 
 } 
 .popular-item {
    position: relative;
 }
 .popular-items span {
	width: 160px;
	padding-top: 40px;
	padding-left: 0px;
  display: block;
  color: #000000;
  margin-top: 100px;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.2px;
  text-align: left;
}
.popular-items a {
    width: 97px;
    height: 55px;
    padding-left: 30px;
}
.popular-item::before {
	content: ""; 
	position: absolute;
	width: 160px;
  height: 160px;
	background-color: rgba(240, 197, 46, 0.5);
	z-index: -1;
	left: 0px;
	bottom: -100px;
}
.popular-item:hover::before {
  background-color: #f0c52e;
}
.popular-item:active::before {
  background-color: #f0c52e;
  opacity: 0.3;
}
.wrapper-services {
    margin: auto;
    background-color: #e5e5e5;
    height: 288px;
    margin-top: 170px;  
}
.service section {
  display: none;
}
.services {
	  width: 1160px;
    margin: 0 auto;
    padding: 20px;
    position: absolute;
    left: 80px;
    top: 1180px;
    display: flex;
    justify-content: space-between;	
}
.services-buttons {
	 display: block;
	 width: 310px;
}
.delivery-page {
  display: flex;
  justify-content: space-between;
  width: 750px;
}
.delivery-info {
	display: block;
	width: 450px;  
}
.delivery-info h2 {
  margin: 0;
  margin-bottom: 30px;
}
.delivery-img {
	display: block;
  background: url(../img/delivery.svg) no-repeat;
  background-position: top;
  width: 136px;
  height: 220px;
  margin-right: 50px;
  margin-top: 10px;
}
.guarantee-page {
  display: flex;
  justify-content: space-between;
  width: 750px;
  display: none;  
}
.guarantee-info {
  display: block;
  width: 450px;  
}
.guarantee-info h2 {
  margin: 0;
  margin-bottom: 30px;
}
.guarantee-img {
  display: block;
  background: url(../img/warranty.svg) no-repeat;
  background-position: top;
  width: 171px;
  height: 220px;
  margin-right: 50px;
  margin-top: 10px;
}
.credit-page {
  display: flex;
  justify-content: space-between;
  width: 750px;
 display: none;
}
.credit-info {
  display: block;
  width: 450px;  
}
.credit-info h2 {
  margin: 0;
  margin-bottom: 30px;
}
.credit-img {
  display: block;
  background: url(../img/credit.svg) no-repeat;
  background-position: top;
  width: 171px;
  height: 220px;
  margin-right: 50px;
  margin-top: 10px;
}
.services-buttons ul {
	 list-style: none;  
}
.buttons-service li{
	 padding-top: 50px;
}
.buttons-service li:first-child {
  padding-top: 0px;
}
.services-buttons::after {
    content: "";
    position: absolute;
    width: 7px;
    height: 319px;
    background-color: #000000;
    left: 310px;
    top: -50px;
}
.button-delivery,
.button-guarantee,
.button-credit {
    position: absolute;	
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    text-align: center;
    letter-spacing: 3.6px;
    color: #000000;
    text-transform: uppercase;
    list-style: none;
    text-decoration: 0;
    z-index: 1;
    border: none;
    background-color: transparent;
}
.button-delivery::before {
	content: ""; 
	position: absolute;
	width: 160px;
	height: 8px;
	background-color: #f0c52e;
	z-index: -1;
	left: -25px;
	top: 8px;
}
.button-delivery:hover::before {
    height: 40px;
    width: 278px;
    background-color: #000000;
    color: #f0c52e;
    top: -8px;
} 
.button-delivery:hover {
    color: #f0c52e;
} 
.button-guarantee::before {
	content: ""; 
	position: absolute;
	width: 160px;
	height: 8px;
	background-color: #f0c52e;
	z-index: -1;
	left: -25px;
	top: 7px;
}
.button-guarantee:hover::before {
    height: 40px;
    width: 278px;
    background-color: #000000;
    color: #f0c52e;
    top: -7px;
} 
.button-guarantee:hover {
    color: #f0c52e;
} 
.button-credit::before {
	content: ""; 
	position: absolute;
	width: 160px;
	height: 8px;
	background-color: #f0c52e;
	z-index: -1;
	left: -25px;
	top: 7px;
}
.button-credit:hover::before {
    height: 40px;
    width: 278px;
    background-color: #000000;
    color: #f0c52e;
    top: -7px;
} 
.button-credit:hover {
    color: #f0c52e;
} 
.partners {
    width: 1160px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 150px;
    display: flex;
    justify-content: space-between;
    position:relative; 
}
.dji-logo {
  background: url(../img/logo-1.2.jpg);
  background-size: cover;
  width: 260px;
  height: 100px;
}
.dji-logo:hover {
  background: url(../img/logo-1.jpg);
}
.spadgets-logo {
  background: url(../img/logo-2.2.jpg);
  background-size: cover;
  width: 260px;
  height: 100px;
}
.spadgets-logo:hover {
  background: url(../img/logo-2.jpg);
}
.gopro-logo {
  background: url(../img/logo-3.2.jpg);
  background-size: cover;
  width: 260px;
  height: 100px;
}
.gopro-logo:hover {
  background: url(../img/logo-3.jpg);
}
.vive-logo {
  background: url(../img/logo-4.2.jpg);
  background-size: cover;
  width: 260px;
  height: 100px;
}
.vive-logo:hover {
  background: url(../img/logo-4.jpg);
}
.container-about-us {
    width: 1160px;	
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 180px;
}
.about-us {
	width: 465px;
}
.contacts {
	width: 560px;
}
.about-us h2,
.contacts h2 {
    font-size: 47px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.02;
    letter-spacing: 0.5px;
    text-align: left;
    color: #000000;
    margin: 0px;
    margin-bottom: 50px;
}
.about-us h2::before {
  content: ""; 
  position: absolute;
  width: 80px;
  height: 7px;
  background-color: #000000;
  z-index: 2;
  left: 140px;
  top: 1820px;
}
.contacts h2::before {
  content: ""; 
  position: absolute;
  width: 80px;
  height: 7px;
  background-color: #000000;
  z-index: 2;
  left: 740px;
  top: 1820px;
}
.about-us p,
.contacts p  {
    font-family: "OpenSans", Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #464646;
    margin: 0px;
}
.about-us p {
  padding-bottom: 35px;
}
.contacts p {
  padding-bottom: 43px;
}
.about-us ul {
    font-size: 16px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.5;
    text-align: left;
    color: #000000;
    list-style: none;
}
.transport-companies {
  margin: 0px;
  padding-top: 30px; 
}
.map-small {
  width: 560px;
  height: 222px;
}
.button-first,
.button-second,
.button-email,
.button-show,
.button-info,
.button-basket {
    position: absolute;	
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    text-align: center;
    letter-spacing: 3.6px;
    color: #000000;
    text-transform: uppercase;
    list-style: none;
    text-decoration: 0;
    z-index: 1;
    border: none;
    background-color: transparent;
}
.button-first {
	padding-top: 70px;
  padding-left: 20px; 
}	
.button-second {
	padding-top: 80px;
  padding-left: 40px; 
}
.button-first::before {
	content: ""; 
	position: absolute;
	width: 260px;
	height: 8px;
	background-color: #f0c52e;
	z-index: -1;
	left: 0px;
	top: 75px;
}	
.button-second::before {
	content: ""; 
	position: absolute;
	width: 260px;
	height: 8px;
	background-color: #f0c52e;
	z-index: -1;
	left: 0px;
	top: 87px;
}
.button-email {
	margin-left: 25px;
}
.button-letter::after {
	content: ""; 
	position: absolute;
	width: 200px;
	height: 8px;
	background-color: #f0c52e;
	z-index: -1;	
  bottom: 86px;	
}
.button-letter:hover::after {
    height: 40px;
    bottom: 70px;
}
.button-first:hover::before, 
.button-second:hover::before {
    height: 40px;
}
.button-first:focus::before,
.button-second:focus::before {
    height: 40px;   
}
.button-show {
	padding-left: 65px;
}
.button-show::after {
    content: ""; 
    position: absolute;	
    width: 220px;
    height: 8px;
    background-color: #f0c52e;
    z-index: -1;
    left: 10px;
    top: 8px;	
}
.button-show:hover::after {
    height: 40px;
    top: -4px;
}
.button-basket {
  margin-left: 100px;
  margin-top: -300px;
}
.button-basket::after {
    content: ""; 
    position: absolute; 
    width: 200px;
    height: 8px;
    background-color: #f0c52e;
    z-index: -1;
    left: -35px;
    top: 8px; 
}
.button-basket:hover::after {
    height: 40px;
    top: -4px;
}
.button-basket:focus::after {
    opacity: 0.3;
}
.button-info::after {
    content: ""; 
    position: absolute;	
    width: 220px;
    height: 8px;
    background-color: #f0c52e;
    z-index: -1;
    left: 5px;
    top: 15px;	
}
.button-info {
	padding-left: 50px;
	padding-top: 10px;
}

.button-info:hover::after {
    height: 40px;
    top: 5px;
}
.button-info:active::after {
    height: 40px;
    top: 5px;
    color: rgba(0, 0, 0, 0.3);
}
.main-footer {
    margin: auto;
    background-color: #464646;
}
.wrapper-footer {
    width: 1160px;
    margin: auto;
    display: flex;
    justify-content: space-between; 
}
.logo-device-footer path {
	fill: #ffc600;
}
.footer-logo {
	padding-top: 65px;
}
.footer-logo:hover {
    opacity: 0.6;
}
.footer-logo:active {
    opacity: 0.3;
}
.adress {
	padding-top: 30px;
}
.adress p {
    font-family: "OpenSans", Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin: 0px;
}
.adress p::after {
  content: ""; 
  position: absolute;
  width: 80px;
  height: 7px;
  background-color: #ffc600;
  z-index: 2;
  left: 140px;
  top: 2700px;
}
.site-navigation-footer,	
.user-navigation-footer {
    display: flex;
    flex-wrap: wrap;
}
.site-navigation-footer {
    align-items: center;
    justify-content: center;
}
.site-navigation-footer a,	
.user-navigation-footer a{
   display: block;
   vertical-align: middle;
}
.site-navigation-footer a {
   padding-right: 35px;
}
.user-navigation-footer {
   padding: 0;
   margin: 0;
  } 
.user-navigation-footer a {
   padding-top: 65px;
   margin-right: 45px;
}
.user-navigation-footer li:last-child a{
   margin-right: 0px;
}
.footer-container-first {
    width: 260px;	
}
.footer-container-second {
    width: 500px;
}
.footer-container-third {
    width: 326px;
}
.site-navigation-footer a,
.user-navigation-footer a {
    color: #ffffff;
}
.site-navigation-footer {
    width: 480px;
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 3.6px;
    text-align: left;
    list-style: none;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0px;
    padding-top: 135px;    
}
.social-button {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.3;
}
.social-button li {
    padding-right: 15px;
}
.footer-social ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 145px;
    margin: 0 auto;  
    padding-top: 60px;
    padding-bottom: 60px; 
}
.social-button:hover {
    opacity: 0.6;
}
.social-button:focus {
    opacity: 0.1;
}
.site-navigation-footer a:hover {
    color: rgba(255, 255, 255, 0.6);
    opacity: 0.6;
}
.site-navigation-footer a:focus {
    color: rgba(255, 255, 255, 0.3);
    opacity: 0.3;
}
.exit-footer path,
.compare-footer path,
.basket-footer path {
	fill: #ffc600;
}
.user-navigation-footer {
    opacity: 0.7;
    font-family: "OpenSans", Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.4;
    letter-spacing: 0.2px;
    text-align: left;
    list-style: none;
    color: rgba(255, 255, 255, 0.7);
}
.user-navigation-footer a:hover {
    color: #ffffff;
    opacity: 0.6;
}
.user-navigation-footer a:focus {
    color: rgba(255, 255, 255, 0.3);
    opacity: 0.3;
}
.footer-svg:hover {
	opacity: 0.6;
}
.footer-svg:active {
	opacity: 0.3;
}
.phone {
	display: flex;
	justify-content: flex-end;
	padding: 0;
	margin: 0;
	padding-top: 30px;
}
.phone p {
  margin: 0px;
}
.phone a {
    font-family: "OpenSans", Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    color: #ffffff;
}
.logo-html {
	display: flex;
	justify-content: flex-end;
	padding: 0;
	margin: 0;
	padding-top: 50px;
}
.logo-html:hover {
	opacity: 0.6;
}
.logo-html:active {
	opacity: 0.3;
}
.main-inner {
    width: 1100px;
    padding-left: 60px;
    margin: auto;
    color: #000000;
}
.page-title {
    font-size: 47px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.02;
    letter-spacing: 0.5px;
    text-align: left;
    color: #000000;
    padding: 0; 
}
.breadcrumbs {
    display: flex;
    padding: 0;
    margin: 0;
    margin-bottom: 45px;
    justify-content: flex-start;
    flex-wrap: wrap;	
    list-style: none;
    font-family: "OpenSans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: 0.1px;
    text-align: left;
    color: rgba(0, 0, 0, 0.3);
}
.breadcrumbs li {
    position: relative;
    margin-right: 20px;
}
.breadcrumbs a {
    list-style: none;
    color: rgba(0, 0, 0, 0.3);
    padding-right: 15px;
}
.breadcrumbs li::after {
   content: ""; 
   background-image: url('../img/nav-arrow.svg');
   background-size: 4px 7px;
   width: 4px;
   height: 7px;
   z-index: 2;
}
.breadcrumbs a:hover {
    color: rgba(0, 0, 0, 0.6);
}
.breadcrumbs a:active {
    color: rgba(0, 0, 0, 0.1);
}
.breadcrumbs-current {
    color: #aba9a7;
}
.filters {
    width: 270px;
    background-color: #ebebeb;
}
.filters::before {
  content: ""; 
  position: absolute;
  width: 460px;
  height: 1300px;
  background-color: #ebebeb;
  z-index: -1;
  left: 0px;
  top: 585px;
}
.filters h2 {
	  font-size: 16px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 3.2px;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
    background-color: #d9d9d9;
    width: 270px;
    height: 70px;
    margin-bottom: 85px;
    margin-top: 0px;
    text-align: left;
    line-height: 71px;
}
.filters h2::before {
  content: ""; 
  position: absolute;
  width: 460px;
  height: 70px;
  background-color: #d9d9d9;
  z-index: -1;
  left: 0px;
  top: 516px;
}
input[type=range]
{
-webkit-appearance: none
}
input[type=range]::-webkit-slider-runnable-track {
    border-radius: 10px;
    width: 196px;
    height: 2px;
    background-color: #dbdbdb;
}
.price {
	margin-bottom: 50px;
}
.price::before {
	content: ""; 
	position: absolute;
	width: 201px;
	height: 2px;
	background-color: #000000;
	left: 200px;
	top: 660px;
}
.filter fieldset {
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
}
.filter legend {
    margin-bottom: 30px;	
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.2px;
    text-align: left;
    color: #000000;
}
.colors-choice {
    font-family: "OpenSans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.86;
    letter-spacing: 0.1px;
    text-align: left;
    color: #000000;
    list-style: none;
}
.colors-choice::before {
	content: ""; 
	position: absolute;
	width: 201px;
	height: 2px;
	background-color: #000000;
	left: 200px;
	top: 760px;
}
.filter-color,
.bluetooth-choice {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
    margin-bottom: 10px;
}
.filter-color img {
	margin-right: 10px;
}
.filters ul {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 2.86;
}
.filter-input:disabled {
    color: #a6a6a6;
}
.bluetooth {
    font-family: "OpenSans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.86;
    letter-spacing: 0.1px;
    text-align: left;
    color: #000000;
    list-style: none;
 }
 .bluetooth::before {
	content: ""; 
	position: absolute;
	width: 201px;
	height: 2px;
	background-color: #000000;
	left: 200px;
	top: 1100px;
}
 .bluetooth-choice input {
 	visibility:hidden;
 }
.bluetooth-choice:hover + label,
.bluetooth-choice:focus + label {
    color: #000000;
}
.bluetooth-choice:disabled + label {
    color: #a6a6a6;
}
.sorting {
	display: flex;
	width: 1400px;
	height: 71px;
	background-color: #ebebeb;
	margin-bottom: 70px;
  margin-left: -40px;
}
.sorting h2 {
	  display: block;
	  font-size: 16px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 3.2px;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
    padding-left: 70px;
    text-align: left;
    padding-top: 10px;
}
.sorting ul {
	display: flex;
	padding-top: 12px;
}
.sorting li {
	  list-style: none;
	  display: block;
	  font-family: "OpenSans", Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.3);
    padding-right: 30px;
    cursor: pointer;
}
.sorting li:last-child {
    padding-right: 0px;
}
.sorting li:hover {
    color: rgba(0, 0, 0, 0.6);
}
.sorting li:active {
    color: #000000;
}
.arrows {
	display: flex;
}
.arrows {
	display: block;
	padding-top: 25px;
	padding-left: 230px;
    opacity: 0.2; 
}
.arrows a {
	padding-right: 20px;
}
.arrows a:focus {
	opacity: 0.4;
}
.arrows a:active {
	opacity: 1;
}
.catalog-inner {
    width: 790px;
    margin: 0;
    padding: 0;
}
.catalog-columns {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.catalog-list {
  display: flex;
  flex-wrap: wrap;	
  padding: 0;
  margin: 0;	
  list-style: none;
}
.catalog-item img {
  margin: 0;
}
.catalog-item img:hover {
  opacity: 0.7;
}
.catalog-item {	
  width: 360px;
  padding-bottom: 70px;
  padding-left: 35px;
}
.catalog-item:nth-child(2n) {
  padding-right: 0px;
}
.catalog-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.catalog-item a{
  display: flex;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.2px;
  text-align: left;
  color: #000000;
}
.catalog-item span{
  display: inline-block;	
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.2px;
  text-align: right;
  color: #464646;
  width: 100px;
  padding: 0;
  margin: 0;
  margin-top: 30px; 
}
.catalog-item h1 {
  display: inline-block;
  width: 250px;
  margin: 0;
  padding: 0; 
  margin-top: 35px;
}
#circle {
  position: absolute;
  width: 60px;
  height: 60px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 35px;
  background-color: : #cd3944;
  opacity: 0.1;
  border: solid 2px #000000;
  margin-top: -430px;
  margin-left: 270px;
}
.product .new {
  position: absolute;
  width: 32px;
  height: 11px;
  opacity: 0.5;
  font-size: 14px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: 0.7px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);
  bottom: -585px;
  left: 1228px;
  margin: 0px;
}
.product-selected {
  display: none;
}
.product-selected .matching {
  position: absolute;
  width: 144px;
  height: 13px;
  opacity: 0.5;
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.77;
  letter-spacing: 0.1px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  margin-left: 100px;
  margin-top: -270px;
}
.product:hover .product-selected {
  display: block;
}
.product-selected .matching:hover {
  color: #000000;
}
.product-selected .matching:focus {
  color: rgba(0, 0, 0, 0.2);
}
.wrapper-pagination {
    width: 760px;
    height: 70px;
    background-color: #ebebeb;
    margin: 0px;
    padding: 0px;
    margin-left: 30px;
    margin-bottom: 80px;
}
.pagination-list {
	  display: flex;
    padding: 0px;
    margin: 0px;
    width: 700px;
     
}
.pagination-list li {
	display: block;
	list-style: none;
	height: 70px;
	line-height: 70px;
	text-align: center;	
  width: 136px;
}
.pagination-button a {
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 3.2px;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
}
.pagination-item a {
	color: #000000;
	margin-right: 30px;
	opacity: 0.3;   
}
.pagination-item-current a {
    color: #000000;
    margin-right: 30px;
}  
.pagination-list li:first-child {
	margin-right: 190px;
  width: 136px;
  height: 70px;
  background-color: #ebebeb;
  padding-left: 30px;
  padding-right: 30px;  	
}
.pagination-list li:first-child:hover {
  background-color: #d9d9d9;
}
.pagination-list li:first-child:focus {
  background-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.3);
}
.pagination-list li:last-child {
	margin-left: 190px;
  width: 136px;
  height: 70px;
  background-color: #ebebeb;
  padding-left: 30px;
  padding-right: 30px;
}
.pagination-list li:last-child:hover {
  background-color: #d9d9d9;
}
.pagination-list li:last-child:focus {
  background-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.3);
}
.modal {
  position: fixed;
  color: #000000;
  background-color: #ffffff; 
  z-index: 3; 
}
.modal-letter {
  display: flex;
  flex-wrap: wrap;	
  top: 120px;
  left: 55%;
  width: 760px;
  height: 373px;
  margin-left: -650px;
  padding: 90px 100px;
  box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2); 
  display: none;
}
.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;	
  width: 55px;
  height: 55px;
  object-fit: contain;
  opacity: 0.5;
  font-size: 0;
  border: 0;
  cursor: pointer;
}
.wrapper-letter-form {
  display: flex;
}
.letter-form p {
  display: block;	
  margin: 0;
  padding: 0;
  width: 360px;
}
.letter-form label {
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.letter-form p:first-child {
  margin-right: 40px;
}
.letter-form input[type="text"] {
    display: block; 
	  box-sizing: border-box;
	  width: 360px;
    height: 50px;
    border: 0px solid;
    opacity: 0.5;
    font-family: "OpenSans", Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: rgba(70, 70, 70, 0.4);
    background-color: #f2f2f2;
    margin-bottom: 40px;
    margin-top: 10px; 
    padding-left: 20px;
    outline:none;
}
.letter-form input[type="submit"] {
	text-decoration: 0;
	border: 0;
	background-color: transparent;
}
.letter-form input:hover,
.letter-form textarea:hover {
  background-color: #eaeaea;
}
.letter-form input:focus,
.letter-form textarea:focus {
  background-color: #ffffff;
  border: 3px solid #f0c52e;
  color: #464646;
}
.letter-form textarea {
	  display: block;
	  width: 740px;
    height: 136px;
    opacity: 0.5;
    border: 0px solid;
    font-family: "OpenSans", Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: rgba(70, 70, 70, 0.4);
    background-color: #f2f2f2;
    margin: 0px;
    padding: 0px;
    margin-bottom: 50px;
    margin-top: 10px; 
    padding-left: 20px;
    padding-top: 20px;
    outline:none;    
}
.modal-map {
  top: 50%;
  left: 50%;
  width: 960px;
  height: 559px;
  margin-left: -600px; 
  box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
  border: none;
  display: none; 
}
.modal-map p {
  margin: 0;
}
.map-close {
  position: absolute;
  top: 20px;
  right: 20px;  
  width: 55px;
  height: 55px;
  object-fit: contain;
  opacity: 0.5;
  font-size: 0;
  border: 0;
  cursor: pointer;
}