@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/gilroy-extrabold.woff2') format('woff2'),
    url('../fonts/gilroy-extrabold.woff') format('woff');
    font-weight: 400;			
}
@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/gilroy-extrabold.woff2') format('woff2'),
    url('../fonts/gilroy-extrabold.woff') format('woff');
    font-weight: 700;			
}
body {
  margin: 0;
  padding: 0;
  width: 1440px;
  height: 2795px;
  font-family: "Gilroy", Arial, sans-serif;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-header {
  width: 1160px;
  color: #000000;
  background-color: rgba(240, 197, 46, 0.5);
  margin: auto;
  margin-top: 40px;
  padding: 35px 50px;
}
.main-header-wrapper{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.header-logo {
   position: absolute;
   width: 163px;
   height: 35px;
   top: 18px;
   left: 140px;
   padding: 0; 
	}
.search {
  background-color: transparent;
  border: none; 
  outline: none;
  font-family: "OpenSans", Arial, sans-serif;	
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  line-height: 2;
  letter-spacing: 0.2px;
  opacity: 0.3;
}
.container-search a{
	color: #000000;
}
.container-search{
	display: block; 
	width: 400px;	
	padding-right: 200px; 
}
.catalog {
	padding: 0;
	margin: 0;
	padding-right: 10px;
	padding-top: 35px;
}
.container-navigation{
	width: 700px;
}
.container-search li{
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #000000;
  list-style: none;
}	
.header-svg,
.footer-svg {
	padding-right: 10px; 
}
.catalog .header-svg {
	opacity: 0.3;
	padding-left: 10px; 
}
.user-navigation,
.site-navigation {
	padding: 0;
	margin: 0;
}
.site-navigation,	
.user-navigation,
.container-search {
   display: flex;
   flex-wrap: wrap;
}
.site-navigation a,
.user-navigation a {
   display: block; 
   color: #000000;
}
.user-navigation a{
   padding: 0;
   margin: 0;
   padding-left: 30px;
   padding-right: 30px;  
}
.user-navigation li:first-child a{
   padding-right: 200px;
   padding-left: 0px;
}
.site-navigation a {
   padding-top: 35px;	
   padding-left: 0px;
   padding-right: 30px;
}
.site-navigation li:last-child a{
   padding-left: 105px;
}
.site-navigation a:hover,
.user-navigation a:hover {
  color: rgba(0, 0, 0, 0.6);
}
.site-navigation a:focus,
.user-navigation a:focus {
  color: rgba(0, 0, 0, 0.34);
}
.user-navigation {
  font-family: "OpenSans", Arial, sans-serif;	
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.2px;
  color: #000000;
  list-style: none;
}
.site-navigation {
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #000000;
  list-style: none;
}
.container-about-us {
  width: 1160px;	
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 90px;
}
.about-us {
	width: 450px;
}
.contacts {
	width: 550px;
}
.about-us h2,
.contacts h2 {
  font-size: 47px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.02;
  letter-spacing: 0.5px;
  text-align: left;
  color: #000000;
}
.about-us p,
.contacts p  {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #464646;
  padding-bottom: 20px;
}
.about-us ul {
  font-size: 16px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.5;
  text-align: left;
  color: #000000;
  list-style: none;
}
.button-first,
.button-second {
  width: 260px;
  height: 8px;
  background-color: #f0c52e;
  box-sizing: border-box;
  margin-top: 60px;	
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  text-align: center;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #000000;
  position: absolute;
  margin-top: 60px;
  text-align: center;
}
.button-first::before {
	content: ""; 
	position: absolute;
	
}
.button-second::before {
	content: ""; 
	position: absolute;

}
.button-first:hover {
  width: 220px;
  height: 40px;
}
.button-second:hover {
  width: 220px;
  height: 40px;
}
.button-first:focus {
  width: 220px;
  height: 40px;
}
.button-second:focus {
  width: 220px;
  height: 40px;
}
.main-footer {
  margin: auto;
  background-color: #464646;
}
.wrapper-footer {
  width: 1160px;
  padding: 0 20px;
  margin: auto;
  display: flex;
  justify-content: space-between; 
}
.logo-device-footer path {
	fill: #ffc600;
}
.footer-logo {
	padding-top: 65px;
}
.adress {
	padding-top: 45px;
}
.adress p {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.site-navigation-footer,	
.user-navigation-footer {
   display: flex;
   flex-wrap: wrap;
}
.site-navigation-footer {
   align-items: center;
   justify-content: center;
}
.site-navigation-footer a,	
.user-navigation-footer a{
   display: block;
   vertical-align: middle;
}
.site-navigation-footer a {
   padding-top: 150px;
   padding-right: 30px;
}
.user-navigation-footer {
   padding: 0;
   margin: 0;
  } 
.user-navigation-footer a {
   padding-top: 65px;
   margin-right: 82px;
}
.user-navigation-footer li:last-child a{
   margin-right: 0px;
}
.footer-container-first {
  width: 260px;	
}
.footer-container-second {
  width: 500px;
}
.footer-container-third {
  width: 400px;
}
.site-navigation-footer a,
.user-navigation-footer a {
  color: #ffffff;
}
.site-navigation-footer {
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-align: left;
  list-style: none;
  color: #ffffff;
  text-transform: uppercase;
}
.social-button {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.3;
}
.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 145px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 30px;
}
.social-button:hover {
  opacity: 0.6;
}
.social-button:focus {
  opacity: 0.1;
}
.site-navigation-footer a:hover {
  color: rgba(255, 255, 255, 0.6);
  opacity: 0.6;
}
.site-navigation-footer a:focus {
  color: rgba(255, 255, 255, 0.3);
  opacity: 0.3;
}
.exit-footer path,
.compare-footer path,
.basket-footer path {
	fill: #ffc600;
}
.user-navigation-footer {
  opacity: 0.7;
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
  letter-spacing: 0.2px;
  text-align: left;
  list-style: none;
  color: rgba(255, 255, 255, 0.7);
}
.user-navigation-footer a:hover {
  color: #ffffff;
}
.user-navigation-footer a:focus {
  color: rgba(255, 255, 255, 0.3);
  opacity: 0.3;
}
.phone {
	display: flex;
	justify-content: flex-end;
	padding: 0;
	margin: 0;
	padding-top: 20px;
}
.phone a {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #ffffff;
}
.logo-html {
	display: flex;
	justify-content: flex-end;
	padding: 0;
	margin: 0;
	padding-top: 50px;
}

.main-inner {
  width: 1200px;
  margin: auto;
  color: #000000;
}
.page-title {
  font-size: 47px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.02;
  letter-spacing: 0.5px;
  text-align: left;
  color: #000000;
  padding: 0; 
}
.breadcrumbs {
  list-style: none;
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: 0.1px;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
}
.breadcrumbs a {
  list-style: none;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover {
  color: rgba(0, 0, 0, 0.6);
}
.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.1);
}

.breadcrumbs-current {
  color: #aba9a7;
}
.filters {
  width: 320px;
  margin-right: 60px;
  background-color: #ebebeb;
  margin: 0; 
}
.filter fieldset {
  border: none;
}
.filter legend {
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.2px;
  text-align: left;
  color: #000000;
}
.colors-choice {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.86;
  letter-spacing: 0.1px;
  text-align: left;
  color: #000000;
  list-style: none;
}
}
.filters ul {
  list-style: none;
  line-height: 2.86;
}
.filter-input:disabled {
  color: #a6a6a6;
}
.bluetooth {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.86;
  letter-spacing: 0.1px;
  text-align: left;
  color: #000000;
  list-style: none;
 }
.bluetooth-choice:hover + label,
.bluetooth-choice:focus + label {
  color: #000000;
}
.bluetooth-choice:disabled + label {
  color: #a6a6a6;
}
.catalog {
  width: 790px;
}
.catalog-columns {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.catalog-list {
  display: flex;
  flex-wrap: wrap;	
  padding: 0;
  margin: 0;	
  list-style: none;
}
.catalog-item {
  width: 360px;
  padding-bottom: 20px;
  padding-right: 60px;
}
.catalog-item:nth-child(2n) {
  padding-right: 0px;
}
.catalog-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.catalog-item a{
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.2px;
  text-align: left;
  color: #000000;
}
.catalog-item span{
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.2px;
  text-align: right;
  color: #464646;
}