
body {
  margin: 0;
  padding: 0;

  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  color: #464646;
  text-transform: uppercase;
  width: 1440px;
  height: 2795px;
  background-color: #ffffff;
}


a {
  text-decoration: none;
}

.main-navigation {
  width: 1160px;
  height: 299px;
  opacity: 0.5;
  background-color: #f0c52e;
}

.site-navigation,
.user-navigation,
.site-navigation-footer,
.user-navigation-footer {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #000000
}

.site-navigation a:hover,
.user-navigation a:hover {
color: rgba(0, 0, 0, 0.6);
}

.site-navigation a:focus,
.user-navigation a:focus {
color: rgba(0, 0, 0, 0.34);
}

.user-navigation {
  font-family: OpenSans;	
  font-size: 15px;
  font-weight: 800;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.2px;
  color: #000000;
}

.site-navigation {
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  line-height: 2;
  letter-spacing: 3.6px;
  color: #000000;
}

.about-us .contacts h2 {
  font-size: 47px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.02;
  letter-spacing: 0.5px;
  text-align: left;
  color: #000000;
}

.about-us .contacts p {
  font-family: OpenSans;
  font-size: 15px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 30px;
  text-align: left;
  color: #464646;
}

.about-us ul {
  font-size: 16px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 40px;
  text-align: left;
  color: #000000;
  list-style: none;
}

.button {
  width: 260px;
  height: 8px;
  background-color: #f0c52e;
  letter-spacing: 3.6px;
  color: #000000
}

.button :hover {
width: 220px;
height: 40px;
}

.button :focus {
 width: 220px;
 height: 40px;
}

.main-footer {
  width: 1440px;
  height: 323px;
  background-color: #464646;
}

.site-navigation-footer a,
.user-navigation-footer a {
	color: #ffffff;
}

.site-navigation-footer {
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-align: left;
  color: #ffffff;
}

.site-navigation-footer a:hover {
color: rgba(255, 255, 255, 0.6);
opacity: 0.6;
}

.site-navigation-footer a:focus {
color: rgba(255, 255, 255, 0.3);
opacity: 0.3;
}

.user-navigation-footer {
  opacity: 0.7;
  font-family: OpenSans;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
  letter-spacing: 0.2px;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
}

.user-navigation-footer a:hover {
color: #ffffff;
}

.user-navigation-footer a:focus {
color: rgba(255, 255, 255, 0.3);
opacity: 0.3;
}

.adress {
  font-family: OpenSans;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.phone a {
  font-family: OpenSans;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #ffffff;
}



@font-face {

	font-family: 'Gilroy-ExtraBold';
	src: url('../fonts/gilroy-extrabold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-extrabold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-extrabold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-extrabold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-extrabold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-extrabold.svg#gilroy-extrabold') format('svg'); /* Chrome < 4, Legacy iOS */
}